@use 'variables' as *;

@font-face {
    font-family: 'Product Sans';
    src: url(#{$font-regular}) format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: 'Product Sans';
    src: url(#{$font-bold}) format('truetype');
    font-weight: 700;
}

body {
  font-family: 'Product Sans', sans-serif;
  font-weight: 400;
}

h1 {
  font-family: 'Product Sans', sans-serif;
  font-weight: 700;
}
